{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "defaults"
          ]
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "production": {
      "only": [
        "server"
      ]
    }
  }
}
